body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    background-image: url('../imagery/background-opacitychange.png');
    width: 100%;
}

#hero {
    height: 718px;
    background-image: url('../imagery/Screenshot\ 2025-01-13\ 132954.png');
    background-size: cover;
    width: 100%;
}

#sub-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: #3F3F3F95;
    align-items: center;
    justify-content: space-between;
}

#nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#stgorthodox-icon-nav, #stgorthodox-icon-footer {
    height: 100px;
    width: auto;
    padding-left: 40px;
}

#stgorthodox-title-nav, #stgorthodox-title-footer {
    font-size: 18pt;
    width: 250px;
    text-decoration: none;
    color: white;
}

nav {
    padding-right: 40px;
}

nav, #nav-bar a {
    color: white;
}

nav a {
    font-size: 16pt;
    padding-left: 8px;
    padding-right: 8px;
}

#contact-info, #contact-info-footer {
    font-family: "Vollkorn", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #3F3F3F95;
    color: white;
}

#address, #contact-card, #address-footer, #contact-card-footer {
    font-size: 16pt;
}

h2, p, #schedule-scroll {
    font-family: "Vollkorn", serif;
}

a {
    text-decoration: none;
    font-family: "Vollkorn", serif;
}

#welcome {
    display: flex;
    flex-direction: row;
    margin: 40px;
    align-items: center;
    justify-content: center;
}

#welcome video {
    width: 600px;
    padding: 40px;
}

#welcome-words {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 40%;
}

#welcome-words h2 {
    font-size: 24pt;
    margin: 0px;
}

#welcome-words p {
    font-size: 18pt;
}

#schedule {
    display: flex;
    flex-direction: column;
    height: 686px;
    align-items: center;
    justify-content: center;
    background-image: url('../imagery/newcathedral-darkened.png');
    background-size: cover;
    background-position:center;
}

#schedule-scroll {
    color: white;
    font-size: 18pt;
}

#month-dropdown-menu {
    visibility: hidden;
}

footer {
    background-color: #3F3F3F;
}

#footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}